<!DOCTYPE html>
<html>
  <head>
    <title>Stack Overwhelm</title>
      <meta property="og:title" content="Stack Overwhelm" />
      <meta property="og:image" content="stack.png" />
      <meta name="image" property="og:image" content="stack.png">
      <meta property="og:description"
        content="A Stack Overflow inspired community forum site for programmers."
      />
      <meta property="og:url"
        content="http://stackoverwhelm.herokuapp.com/"
      />
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('logo-sm.svg') %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
