<!DOCTYPE html>
<html>
  <head>
    <title>StackOverwhelm</title>
      <meta property="og:title" content="Stack Overflow" />
      <meta property="og:image" content="stack.png" />
      <meta property="og:description"
        content="A Stack Overflow inspired community forum site for programmers."
      />
      <meta property="og:url"
        content="http://stackoverwhelm.herokuapp.com/"
      />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('logo-sm.svg') %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
